.main{
   background-color: rgb(7, 37, 50);
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 50px 50px;
    box-sizing: border-box;
    color: antiquewhite;
}
.main >img{
   
    width: 50%;
    height: 50%;
}
.title{
    width: 50%;
    font-size: 1vw;

    display: flex;
    margin: 10px;
    padding: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.title > h1,  .animation_box>h2{
   font-size: 26px;
   width: 100%;
   display: flex;
   justify-content: center;
   text-align: center;
}
.animation_box{
   /*background-color: rgb(194, 192, 78);*/
   height: 40px !important;
   overflow: hidden;
   padding: 0;
   margin: 20px;
}
.animation_box > h2{
   margin: 0;
   padding: 0;
color: blueviolet;

/*align-self: flex-end;*/
animation-name: toTop;
animation-duration: 2.6s;
animation-delay: 0.5s;
animation-iteration-count: infinite;
animation-direction: alternate ;


}
@keyframes toTop {
   from {
      transform: translateY(100px);

   }to{
      transform: translateY(0px);
   }

}

.regester_main > button{
    width: 100;
   border: none;
    border-radius: 3px;
    background: none;
    background-color: none;
    padding: 10px 50px;
    color: antiquewhite;
    font-size: large;
   margin: 20px;
    background-color: blueviolet;
   }
.search_main{
    width: 100%;
    height: 50px;
    margin: 15px 0px;
    display: flex;
}

.search_main > input{
    width: 90%;
    border: .1px solid gray;
    border-radius: 3px 0px 0px 3px;
    background: none;
    background-color: none;
    padding: 5px 15px;
   color: antiquewhite;
   font-size: x-large;
}
.search_main > button{

    border: .1px solid gray;
    border-radius: 0x 7px 7px 0px;
    background: none;
    background-color: none;
    padding: 5px 15px;
    color: antiquewhite;
    font-size: large;
    background-color: rgb(160, 18, 18);
}
/*--------------------------*/
.animation_box{
    height: 80px;

    width: 200px;
     margin: 5px;
    display: flex;
    justify-content: center;
    position: relative;
}
/*.animation_box::after{
    content: '';
    background-color: blueviolet;
    width: 100%;
    height: 30px;
    position: absolute;
    bottom: 0;
}*/
.animation_box > h2{

    width: 100%;
    height: 30px;
    margin: 0;
 
}
@media (max-width: 800px) {
 .main{
    width: 100%;
    box-sizing: border-box;
    height: 40vh;
    position: relative;
   
    padding-top: 0;
    
 }    
 .title{
    position: relative;
    width: 100% !important;
    height: 20vh;
    top: 5%;
    left: 0%;
  
    border-radius: 7px;
    margin: 0;
    z-index: 2;
    pad: 15px;
 }
 .title > h1{
   
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0;
    font-size: x-large;
 }
 .animation_box{
   padding-bottom: 30px;
    width: 100%;
    height: 100px;
    display: flex;
   
    
 }
 .animation_box > h2{
   
    display:  flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 0%;
    color: blueviolet;
    font-size: x-large;
    
 }
 .search_main{
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    width: 100%;
    margin: 0;
    align-items: center;
    z-index: 2;
    padding: 0%;
 }
 .regester_main{
    display: flex;
    margin-top: 10px;
 }
 .search_main > input{
    font-size: small;
    margin: 0;
    display: flex;
    width: 100%;
    height: 20px;
    margin-bottom: 15px;
    border-radius: 5px;

 }
 .search_main > button{
    margin: 0;
    display: flex;
    font-size: small;
    width: fit-content;
    height: fit-content;
    background-color: chocolate;
    border: none;
    border-radius: 7px;

 }
 .main > img{
    display: none;
 

 }
 
}
